<!--views/partials/errors.ejs-->

<% if(typeof errors !== "undefined" && errors){%>
    <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }); %>
    </ul>
<%}%>