<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title%></title>
  <link rel="stylesheet" href="/styles/create-user-form.css" />
  <link rel="stylesheet" href="/styles/general-styles.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/search-form.css" />
  <link rel="stylesheet" href="/styles/search-results.css" />
  <link rel="stylesheet" href="/styles/update-user-form.css" />
</head>
