/*search results css*/

/* Search Results Container */
.search-results-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Search Results List */
.search-results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Search Result Item */
.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-result-item:last-child {
  border-bottom: none;
}

/* Search Result Item Contents */
.search-result-item span {
  font-weight: bold;
}

.search-result-item p {
  margin-bottom: 10px;
}

/*Media Queries Responsive styles*/

/* Small screens (max-width: 576px) */
@media only screen and (max-width: 576px) {
  .search-results-container {
    padding: 10px;
    margin: 20px auto;
  }
  .search-results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .search-results-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
}

/* Medium screens (min-width: 577px and max-width: 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .search-results-container {
    padding: 20px;
    margin: 30px auto;
  }
  .search-results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .search-results-container li {
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
}

/* Large screens (min-width: 769px) */
@media only screen and (min-width: 769px) {
  .search-results-container {
    padding: 30px;
    margin: 40px auto;
  }
  .search-results-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .search-results-container li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
}
