/* Update User Form css*/
.container .update-user-form {
  max-width: 400px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container .update-user-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.container .update-user-form input[type="text"],
.container .update-user-form input[type="email"],
.container .update-user-form input[type="number"] {
  width: calc(100% - 40px);
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 10px 20px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.container .update-user-form textarea {
  width: calc(100% - 40px);
  height: 100px;
  margin-bottom: 20px;
  padding: 10px 10px 20px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.container .update-user-form button[type="submit"] {
  width: calc(100% - 5px);
  height: 40px;
  margin: 0 20px 20px 0px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/*Media queries Responsive styles */

/* Small screens (max-width: 576px) */
@media only screen and (max-width: 576px) {
  .container .update-user-form {
    padding: 10px;
    margin: 20px auto;
  }
  .container .update-user-form label {
    font-size: 14px;
  }
  .container .update-user-form input[type="text"],
  .container .update-user-form input[type="email"],
  .container .update-user-form input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  .container .update-user-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}

/* Medium screens (min-width: 577px and max-width: 768px) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container .update-user-form {
    padding: 20px;
    margin: 30px auto;
  }
  .container .update-user-form label {
    font-size: 16px;
  }
  .container .update-user-form input[type="text"],
  .container .update-user-form input[type="email"],
  .container .update-user-form input[type="number"] {
    width: 80%;
    padding: 15px;
    font-size: 18px;
  }
  .container .update-user-form textarea {
    width: 80%;
    padding: 15px;
    font-size: 18px;
  }
}

/* Large screens (min-width: 769px) */
@media only screen and (min-width: 769px) {
  .container .update-user-form {
    padding: 30px;
    margin: 40px auto;
  }
  .container .update-user-form label {
    font-size: 18px;
  }
  .container .update-user-form input[type="text"],
  .container .update-user-form input[type="email"],
  .container .update-user-form input[type="number"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
  }
  .container .update-user-form textarea {
    width: 60%;
    padding: 20px;
    font-size: 20px;
  }
}